@model AnnonsSystem.Models.AnnonsorDetails

@{
    ViewData["Title"] = "ForetagsFormular";
}

<h1>Fyll i företags uppgifter</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForetagsFormular">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="an_Namn" class="control-label"></label>
                <input asp-for="an_Namn" class="form-control" required/>
                <span asp-validation-for="an_Namn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_Tlfnr" class="control-label"></label>
                <input asp-for="an_Tlfnr" class="form-control" required/>
                <span asp-validation-for="an_Tlfnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_OrgNr" class="control-label"></label>
                <input asp-for="an_OrgNr" class="form-control"  required/>
                <span asp-validation-for="an_OrgNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_Adress" class="control-label"></label>
                <input asp-for="an_Adress" class="form-control" required/>
                <span asp-validation-for="an_Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_Ort" class="control-label"></label>
                <input asp-for="an_Ort" class="form-control" required/>
                <span asp-validation-for="an_Ort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_PostNr" class="control-label"></label>
                <input asp-for="an_PostNr" class="form-control" />
                <span asp-validation-for="an_PostNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_FkAdress" class="control-label"></label>
                <input asp-for="an_FkAdress" class="form-control" required/>
                <span asp-validation-for="an_FkAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_FkOrt" class="control-label"></label>
                <input asp-for="an_FkOrt" class="form-control" required/>
                <span asp-validation-for="an_FkOrt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="an_FkPostNr" class="control-label"></label>
                <input asp-for="an_FkPostNr" class="form-control" required/>
                <span asp-validation-for="an_FkPostNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
